<!-- Header -->
<% content_for :head do %>
	<style type="text/css">
		
	</style>
<% end %>
<div id="header">
	<div id="nav-wrapper"> 
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<!-- <li ><a href="index.html">Homepage</a></li> -->
				<li class="active"><%= link_to "Home", root_path %></li>
			<!-- 	<li><a href="left-sidebar.html">Left Sidebar</a></li>
				<li><a href="right-sidebar.html">Right Sidebar</a></li>
				<li><a href="no-sidebar.html">No Sidebar</a></li> -->
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Help", help_path %></li>
			    <li><%= link_to "Contact US", contact_path %></li>
			</ul>
		</nav>
	</div>
	<div class="container"> 
		<!-- Logo -->
		<div id="logo">
			<!-- <h1><a href="#">TWS</a></h1> -->
			<h1><%= link_to "Linear", root_path %></h1>
			<span class="tag"> Find Services and Solutions</span>
		</div>	
	</div>
		
</div>

<div>
        <input type="button" id="hide" value="hide" /></div>
		<div id="service" >hellooooooo...!!!!!!!!</div>
